.banner_about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.banner_oldGuard_h1 {
    letter-spacing: 0;
    display: block;
    font-size: 220px;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 230, 246, 1) 0%, rgba(73, 46, 135, 1) 100%);
    background-size: 400% 400%;
    background-clip: text;
    opacity: 0.8;
    -webkit-text-fill-color: transparent;
    animation: aitf 5s linear infinite;
    user-select: none;
    text-decoration: underline;
    position: absolute;
}

.banner_oldGuard_h1:after {
    content: "🐘";
    -webkit-text-fill-color: red;
}

.about-svg1 {
    z-index: -1;
    margin: -125px auto;
    opacity: 0.3;
}

@media (max-width: 768px) {
    .banner_oldGuard_h1 {
        font-size: 65px;
    }
    .about-svg1 {
        margin-top: 125px;
        margin-left: 5%;
        z-index: -1;
        width: 90%;
        opacity: 0.3
    }
    .text_about1,
    .text_about2 {
        font-size: 20px;
    }
    .twix {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .member {
        max-width: 90%;
        min-width: 300px;
        background-size: cover;
        height: 210px;
        min-height: 0;
        padding: 5px;
        img {
            height: auto;
        }
    }
    .dimaForMobile {
        max-height: 210px;
    }
    hr {
        margin: 5px;
    }
    .sides_footer {
        align-items: flex-start;
    }
}