.basement_about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
    .background_about {
        width: 100vw;
        height: 50vh;
        background: linear-gradient(90deg, rgba(0, 230, 246, 1) 0%, rgba(73, 46, 135, 1) 100%);
    }
    
    .banner_h1 {
        letter-spacing: 0;
        display: block;
        font-size: clamp(4rem, 6vw + 1rem, 7rem);
        width: 100vw;
        text-align: center;
        font-weight: 700;
        background: linear-gradient(90deg, rgba(0, 230, 246, 1) 0%, rgba(73, 46, 135, 1) 100%);
        background-size: 400% 400%;
        background-clip: text;
        opacity: 0.8;
        -webkit-text-fill-color: transparent;
        animation: aitf 5s linear infinite;
        user-select: none;
        text-decoration: underline;
        position: absolute;
    }
    
    @keyframes aitf {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .about-svg1 {
        z-index: -1;
        opacity: 0.3;
    }

    .about-svg2 {
        width: 90vw;
        margin: 0 auto;
    }
    
    .text_about1 {
        font-size: 1rem;
        width: 90%;
        margin: 75px auto;
        line-height: 1.5;
    }
    
    .text_about2 {
        font-size: 27px;
        width: 90%;
        margin: 0.5rem auto;
        line-height: 1.5;
    }
    
@media (min-width: 1024px){
    .text_about1{
        font-size: 27px;
    }

    .about-svg2{
        width: 60vw;
    }
}