.scrollNav {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    width: 100%;
    column-gap: 2rem;
    row-gap: 1rem;
    animation: 10s Translate ease infinite;
    transition: transform 0.5s ease;
    scroll-behavior: smooth;
}

.button {
    color: white;
    width: 95vw;
    height: 75vh;
    margin: 0 auto;
    border-radius: 25px;
    outline: 5px solid #cdcdcd;
    text-decoration: none;
    transition: 0.5s;
    filter: brightness(0.8);
    &:hover {
        outline: 5px solid #492e87;
        transition: 0.5s;
        filter: brightness(1);
    }
}

@keyframes TranslateRight {
    0% {
        transform: translate(0px);
    }
    50% {
        background: #dcf8f9;
    }
    100% {
        transform: translate(100px);
    }
}

@keyframes TranslateLeft {
    0% {
        background: #e1d9f4;
    }
    50% {
        background: #dcf8f9;
    }
    100% {
        background: #e1d9f4;
    }
}

.text-nav {
    display: flex;
    flex-direction: column;
    width: 75vw;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-nav-p {
    font-size: 1.5rem;
    width: 80%;
}
.text-button {
    width: 90%;
    padding: 15px;
    margin: 0 auto;
    h1{
        font-size: 40px;
        width: 200px;
    }
    p {
        -webkit-text-stroke: 0px black;
        font-weight: bold;
        font-size: 30px;
        color: transparent;
    }
}

.aboutSite {
    background: url(../aboutSite11.svg);
    background-size: cover;
}

.aboutClassmate {
    background: url(../newRemakeB.jpg);
    background-size: cover;
}

.aboutGallery {
    background: url(../group1.svg);
    background-size: cover;
}

@media (min-width: 1024px){
    .scrollNav{
        flex-direction: row;
        align-items: center;
        height: 55vh;
    }

    .text-nav{
        margin-left: 1.5rem;
    }

    .text-nav-p{
        width: 100%;
    }

    .button{
        height: 50vh;
    }

    .text-button{
        margin: 0;
        width: 35vw;
    }

    .text-button p {
        -webkit-text-stroke: 1px black;
        color: white;
    }
}