.load-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2d;
  z-index: 9999; // Завжди поверх усього контенту
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; // Щоб під час руху крізь неї не можна було нікуди клікнути
}

.div {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #2d2d2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: backgoundLoaing 20s infinite;
    overflow: hidden;
    z-index: 2;
    p {
        text-align: center;
        font-family: "Anta", sans-serif;
        font-size: 25px;
        color: #37B5B6;
    }
}

#loading {
    align-self: center;
}

.logoAndText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

@keyframes backgoundLoading {
    0% {
        background-color: #0A1D56;
    }
    14% {
        background-color: #492E87;
    }
    28% {
        background-color: #257a7a;
    }
    42% {
        background-color: #F2F597;
    }
    56% {
        background-color: #257a7a;
    }
    70% {
        background-color: #492E87;
    }
    100% {
        background-color: #0A1D56;
    }
}